.nav {
  display: flex;
  gap: 20px;
}

.link {
  color: #f7ebec;
  font-size: 24px;
}

.link:hover,
.link:focus {
   color: #f7ebec;
   scale: calc(1.02); 
}
.active {
    text-decoration: overline;
}

